:root {
    --header-title-font-size: 3rem;
    --header-title-font-weight: bold;
    --header-link-font-weight: 300;
}

.header__title {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--header-title-font-size);
    font-weight: var(--header-title-font-weight);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--header-link-font-weight);
    padding: 1rem;
}

.header li a:hover, .header__title:hover {
    color: white;
}